 html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

  .card-action{
  	height: 40px;
  	color: black;
  }
  .material-icons.md-18 { 
  	font-size: 98px; 
  }
  .col s4 center{
  	vertical-align: middle;
  }
  .bio{
    float:right;
  }

.flow-text{
  float: right;
  color: indigo;
}