body{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#states, #party{
  display: none;
}

.search-form{
  margin-top: 10%;
}
.navbar-brand{
  font-family: 'IM Fell English', serif;
  font-size: 4em;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.card{  
  background-color: #eee;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.card .card-title {
  text-align: center;
  margin-top: 10%;
  color: black;
}

.img-fluid.img-responsive{
  cursor: pointer;
}

.flow-text{
  float: right;
  color: indigo;
}

#sub_commitees, #recent_bills, #notcurrentlyused{
  padding-bottom: 10px;
  
}

#follow{
  background-color: #2BBBAD;
  color: white;
}

.navbar img{
  position: absolute;
  z-index: -1;
  left: 225px;
  height: 65px; 
  width: 200px;
  padding: 0;
  margin: 0 10px 0 0 ;
}

#title{
  position: relative;
  z-index: 10;
  top: 10;
}

.navbar-left{
  margin: 0 0 0 15%;
}

.navbar-right{
  position: relative;
  right: 0%;
}

body > nav{
  height: 85px;
}