body{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#states, #party{
  display: none;
}

.search-form{
  margin-top: 10%;
}
.navbar-brand{
  font-family: 'IM Fell English', serif;
  font-size: 4em;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.card{  
  background-color: #eee;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.card .card-title {
  text-align: center;
  margin-top: 10%;
  color: black;
}

.img-fluid.img-responsive{
  cursor: pointer;
}

.flow-text{
  float: right;
  color: indigo;
}

#recent_bills, #notcurrentlyused, #twitterArea, .twitter-timeline, #newsdisplay{
  padding-bottom: 10px;
  visibility: hidden;
}

#follow{
  background-color: #2BBBAD;
  color: white;
  margin: 0;
}

#basic, #recent, #tweets, #other{
  margin: 10px 0px 10px 80px;
  font-size: 2em;
  font-weight: bolder;
}


li {
  display: inline;
  float: left;
  margin: 10px;
}

.navbar img{
  position: absolute;
  z-index: -1;
  left: 225px;
  height: 65px; 
  width: 200px;
  padding: 0;
  margin: 0 10px 0 0 ;
}

#title{
  position: relative;
  z-index: 10;
  top: 10;
}

.navbar-left{
  margin: 0 0 0 15%;
}

/*.navbar-right{
  position: relative;
  right: 0%;
}*/

body > nav{
  height: 85px;
}
#welcome{
  display: none;
}
#sign-out{
  display: none;
}