body{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#states{
  display: none;
}
#party{
  display: none;
}
.search-form{
  margin-top: 20%;
}
.navbar-brand{
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}
.card{  
  background-color: #eee;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.col-sm-4{

}
.card .card-title {
  text-align: center;
  margin-top: 10%;
  color: black;
}

.img-fluid.img-responsive{
  cursor: pointer;
}

.flow-text{
  float: right;
  color: indigo;
}

#sub_commitees, #recent_bills, #notcurrentlyused{
  padding-bottom: 10px;
  
}

.row.panel {
  border: 0;
}
